@use "./breakpoint";

%main-title {
  font-size: 30px;
  @include breakpoint.tablet {
    font-size: 34px;
  }
  @include breakpoint.desktop {
    font-size: 40px;
  }
}

%sub-title {
  font-size: 20px;
  @include breakpoint.tablet {
    font-size: 22px;
  }
  @include breakpoint.desktop {
    font-size: 24px;
  }
}

%content {
  font-size: 16px;
  @include breakpoint.tablet {
    font-size: 18px;
  }
  @include breakpoint.desktop {
    font-size: 20px;
  }
}