.swiper-container {
  width: 500px;
  height: 100%;
  .swiper-slide {
    .activity_title {
      font-size: 30px;
      font-weight: 700;
      color: black;
      background: rgba(255, 255, 255, 0.582);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
