@use "../abstract/breakpoint";

.myCard {
  color: black;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;

  &_thumbnail {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 20px; //delete
    flex: 0 0 auto;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      vertical-align: bottom;
      object-fit: cover;
      object-position: center center;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &_body {
    text-align: start;
    overflow: hidden;
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      display: flex;
      align-items: flex-start;
      & + p {
        margin-top: 5px;
      }
      img {
        margin: 2px 5% 0 0;
      }
      span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
}

@include breakpoint.mobile {
  .myCard {
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    &_thumbnail {
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin-right: 0;
      flex: 0 0 auto;
    }
    &_body {
      background: white;
      width: 100%;
      padding: 20px;
      border-radius: 20px 20px 0 0;
      position: absolute;
      z-index: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s linear;

      &:hover {
        background: orange;
        transition: all 0.4s linear;
        > h4 {
          -webkit-line-clamp: 3;
          transition: all 0.2s ease-in-out;
        }
        &::after {
          content: "\2192 ";
          display: inline-block;
          margin-left: 5px;
          animation: pointing 0.4s infinite linear alternate;
        }

      }

      h4 {
        width: 100%;
        margin: 0px;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }
      p {
        display: none;
      }
    }
  }
}

@keyframes pointing {
  0% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}
